@charset "utf-8";
*{
    margin:0;
    padding:0;
} 
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}

#header{
    top:0;
    border-top:1px solid lightgray;
    border-bottom:1px solid lightgray;
    background: linear-gradient(180deg, rgba(206,161,53,1) 20%, rgba(255,195,46,1) 80%);
    position:sticky;
    width:100%;
    height:max-content;
}
.header{
    animation:changeHeader 20s infinite;
    -webkit-animation: changeHeader 20s infinite;
    -moz-animation: changeHeader 20s infinite;
}
#header h1{
    display:inline-block;
    padding:8px; 
}
#header h1 a{
    font-size: 30px;
    color: whitesmoke;
    text-shadow: 1px 1px 0 rgb(211,211,211),
                2px 2px 0 rgb(200,200,200),
                3px 3px 0 rgb(188,188,188),
                4px 4px 0 rgb(177,177,177),
                5px 5px 0 rgb(165,165,165),
                6px 6px 0 rgb(154,154,154),
                7px 7px 0 rgb(142,142,142),
                8px 8px  0 rgb(131,131,131),
                9px 9px 8px rgba(255,255,255,0.3),
                9px 9px 1px rgba(255,255,255,0.5),
                0px 0px 8px rgba(255,255,255,.2);
}
#header ul.nav{
    margin: 11px 0 12px 2%;
    float:right;
    /* overflow: hidden; */
}
#header ul.nav li{
    display:inline-block;
    font-size:0.83em;
    float:left;
}
#header ul.nav li a{
    display:inline-block;
    color:#fff;
    font-size:15px;
    line-height:13px;
    padding:0.68em 1.18em 0.5em 1.18em;
    text-transform: uppercase;  
}
#header ul.nav li a.activePage{
    color:sienna;
    border-radius: 10px;
    transition: background-color 3s;
}
#header ul.nav li a.activePage:hover{
    background-color: rgba(128,128,128,0.135);
}
@keyframes changeHeader{
    0%  {background: linear-gradient(180deg, rgba(206,161,53,1) 20%, rgba(255,195,46,1) 80%);}
    30% {background: linear-gradient(180deg, rgba(67,111,112,1) 11%, rgba(86,142,144,1) 33%, rgba(95,158,160,1) 68%, rgba(143,187,189,1) 94%);}
    40% {background: linear-gradient(180deg, rgba(73,70,70,1) 4%, rgba(164,164,164,1) 35%, rgba(214,214,214,1) 63%, rgba(209,214,214,1) 94%);}
    60% {background: linear-gradient(180deg, rgba(13,71,161,1) 15%, rgba(21,101,192,1) 35%, rgba(25,118,210,1) 63%, rgba(30,136,229,1) 94%);}
    80% {background: linear-gradient(180deg, rgba(93,64,55,1) 15%, rgba(109,76,65,1) 35%, rgba(121,85,72,1) 63%, rgba(141,110,99,1) 94%);}
    100%{background: linear-gradient(180deg, rgba(38,50,56,1) 15%, rgba(55,71,79,1) 35%, rgba(69,90,100,1) 63%, rgba(84,110,122,1) 94%);}
}
@keyframes changeBg
{
   0%   {background-image: url("../images/background.jpg");}
   30%  {background-image: url("../images/rest.jpeg");}
   40%  {background-image: url("../images/bg2.jpg");}
   60% {background-image: url("../images/bg3.jpg");}
   80% {background-image: url("../images/bg4.jpg");}
   100% {background-image: url("../images/bg5.jpeg");}
}
.main{
    animation: changeBg 20s infinite;
    -webkit-animation: changeBg 20s infinite;
    -moz-animation: changeBg 30 infinite;
}
#main{
    background:url(../images/background.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
#main a>h3{
    color: #eff5f5;
    padding-top: 90px;
    text-align: center;
    font-size: 51px;
    text-shadow: 3px 2px 4px #CEA135;
    font-weight: bold;
}
#main a h3:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/**************************************Q&A****************************************/
#questCont{
    background:none;
}
.container {
    height: auto;
}

.question {
    display: block;
    height: max-content;
    line-height: 40px;
    cursor: pointer;
    color: #584618;
    font-weight: bold;
    font-style: italic;
    padding-left: 5px;
    border-bottom: 1px solid lightgray;
}  
.answer {
    display: none; 
    height: auto;
    border: 1px solid #ccc;
}
.active {
    background: rgba(206, 161, 53, 0.75);
    color: #fff;
}
.answer div{
    margin: 30px;
}
#main form h1{
    text-align:center;
    color:#cea135;
}
form{
    color:#cea135;
    max-width:34%;
    min-width:200px;
    margin:65px auto;
}
label{
    display: block;
    font-weight: bold;
    color: #fff;
}
input, textarea{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border:none;
    outline: none;
    text-indent:5px;
}
textarea{
    height:150px;
}
button[type="submit"]{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: #cea135;
    color: #fff;
    font-size:18px;
    outline: none;
    cursor: pointer;
}

/******************************** Partners ****************************************/
#partnersCont{
    padding: 2px;  
}
.restaurantContainer{
    padding-top:5px;
    display:inline-flex;
    border: 1px solid #cea135;
    width:45%;
    background: radial-gradient(circle, rgba(255,232,178,1) 24%, rgba(246,230,192,1) 65%);
    margin: 10px 10px 0 10px;
}
.restaurantContainer>div{
    padding-left:10px;
}

.restaurantContainer div p.location{
    font-weight: bold;
    font-style: italic;
    font-size: 12px;
}
.restaurantContainer div p.description{
    font-style: italic;
}
.facebook{
    width: 20px;
    height: 20px;
}

.book {
	box-shadow: 3px 3px 9px 2px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:8px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-size:18px;
	font-weight:bold;
	padding:7px 17px;
    text-decoration:none;
    outline:none;
    margin-bottom: 10px;
}
.book:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.book:active {
	position:relative;
	top:1px;
}
input[type=date],input[type=number]{
    width: 100px;
    text-indent: 2px;
    font-size: 12px;
    height: 32px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 5px;
}
#second{
    display:none;
}
.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    cursor:pointer;
  }

.imageContainer img{
    display: block;
    width:100%;
    height:auto;
}
.info{
    font-size:18x;
}
.info p{
    font-size: 14px !important;
    margin-top: 10px;
}
.info a img{
    margin-top: 6px;
}
#footer{
    padding:3% 0 0 5%;
    background: lightyellow;
    margin: 0 auto;
 }
  #footer ul{
     display:inline-block;
     margin:7px 0 7px 0;
 }
  #footer ul li{
     display:inline-block;
     margin-right:16px;
 }
 #footer ul li a{
     display:inline-block;
     width: 30px;
     height: 30px;
 } 
 #footer h3{
     color:#cea135;
 }
/* ----------------   End of Partners ------------------ */
/*-----------------   Start of About  ------------------ */

.about>p{
    color: #fff;
    margin: 32px auto;
    width: 73%;
    font-style: oblique;
    font-weight: bold;
    background: rgba(128,128,128,0.7)
}
/*-----------------   End of About  ------------------ */


@media only screen and (max-width: 480px) {
    .container{
        margin-top:130px !important;
    }
    form{
        margin: 110px auto;
    }
}

@media  screen  and  (max-width:768px){
    .restaurantContainer{
        width:95%;
    }
    #header{
        position:fixed;
    }
    #header ul.nav li a{
        font-size: 12px;
        font-weight: 1000;
    }
    #main{
        margin-top: 50px;
    }
    .about>p{
        font-size: 13px;
        margin-top:200px;
    }
    .container{
        margin-top:100px;
    }
    form{
        max-width:50%;
    }
    #partnersCont
    {
        margin-top: 50px;
    }
}

@media only screen and (max-width:500px){
    #partnersCont
    {
        margin-top: 105px !important;
    }
}
@media screen and (max-width: 768px) and (min-width: 525px) {
    .container{
        margin-top:80px !important;
    }
}
@media only screen and (max-width:400px){
    #header ul.nav li a{
        font-size:11px !important;
        font-weight: 1000;
    }
    #partnersCont
    {
        margin-top: 120px !important;
    }
}



